.app-title {
  font-size: 50px;
  color: red;
}

.app-message {
  color: #555;
}

.link {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;

  &.active {
    background-color: black;
    color: white;
  }
}

.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
}

.content {
  height: 100%;
  background-color: #fafafa;
}

