.try-btn {
  padding: 10px;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 5px;
  border-color: transparent;
  background-color: #606060;
  color: white;
  height: 50px;
  width: 220px;
  font-size: 15px;
}

.fb-btn {
  padding: 10px;
  margin: 10px;
  border: 1px solid;
  border-radius: 5px;
  border-color: transparent;
  background-color: #4267B2;
  color: white;
  height: 50px;
  font-size: 15px;
}

.link {
  color: white;
  text-decoration: none;
}

.collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  margin: 30px;

  &.selected {
    outline-color: black;
  }
}

.photo {
  width: 300px;
  height: 300px;
  margin: 0 5px 5px 5px;
  object-fit: cover;
  cursor: pointer;

  &:hover {
    filter: brightness(50%);
  }

  &.selected {
    filter: brightness(50%);
    outline-width: 5px;
    outline-color: green;
    outline-style: auto;
  }
}
