.login-hero {
  position: relative;
  height: 500px;
  background-image: url(../../../assets/images/road1.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;

  .login-form {
    position: relative;
    padding: 15px;
    top: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    height: 200px;
    text-align: center;
  }

  .sep-line {
    position: relative;
    color: #a8a8a8;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;

    &:before {
      content: '';
      border-bottom: 1px solid #afafaf;
      position: absolute;
      top: 50%;
      left: 0%;
      right: 57%;
    }

    &:after {
      content: '';
      border-bottom: 1px solid #afafaf;
      position: absolute;
      top: 50%;
      left: 57%;
      right: 0%;
    }
  }
}

.try-btn {
  padding: 10px;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 5px;
  border-color: transparent;
  background-color: #606060;
  color: white;
  height: 50px;
  width: 220px;
  font-size: 15px;
}

.fb-btn {
  padding: 10px;
  margin: 10px;
  border: 1px solid;
  border-radius: 5px;
  border-color: transparent;
  background-color: #4267B2;
  color: white;
  height: 50px;
  font-size: 15px;
}

.link {
  color: white;
  text-decoration: none;
}